replace string

In [2]:
a = "Hello World"
print(a.replace("H", "J"))

Jello World

split string

In [ ]:
a = "Hello World"
print(a.split())

TypeError: 'str' object cannot be interpreted as an integer

formate string

In [ ]:
age = 18 
txt = f"My name is anurag singh, i am {age}" 
print(txt)

My name is anurag singh, i am 18

In [8]:
b= " hello, world "
print(b)
print(b.strip())

 hello, world
hello, world

In [9]:
a = "hello"
b = "world"
c = a + " " + b
print(c)

hello world

In [12]:
price = 18.245
txt = f"the price is {price:.2f} dollars" 
print(txt)

the price is 18.25 dollars

In [15]:
def myfunc():
    return True

if myfunc():
    print("YES!")
else:
    print("NO!")

YES!

In [16]:
list = ["apple", 12 , "shoes", 4.5 , True, None]
print(list)
print(list[1])
print(type(list))

['apple', 12, 'shoes', 4.5, True, None]
12
<class 'list'>

In [17]:
list = ["apple", 12 , "shoes", 4.5 , True, None]
tuple = ("apple", 12 , "shoes", 4.5 , True, None)
print(list)
print(list[1])
print(type(tuple))

['apple', 12, 'shoes', 4.5, True, None]
12
<class 'tuple'>

In [19]:
x = None
print(type(x))

<class 'NoneType'>

In [20]:
print("conversion to integer")
a = int(1)
b = int(2.8)
c = int("3")
print(a)
print(b)    
print(c)

conversion to integer
1
2
3

In [25]:
print("conversion to float")
a = float(1)
b = float(2.8)
c = float("3")
print(a)
print(b)    
print(c)

conversion to float
1.0
2.8
3.0

In [26]:
print("conversion to string")
a = str(1)
b = str(2.8)
c = str("3")
print(a)
print(b)    
print(c)

conversion to string
1
2.8
3

In [ ]:
# type casting
# implicit type casting
x = 5 
y = True
print(x + y)
print(type(x + y))

8.5
<class 'float'>

In [ ]:
#binary to integer conversion
a = int("110101" ,2 )
print(a)
print(type(a))

53
<class 'int'>

In [ ]:
# octa  to integerconversion
a = int("54" ,8 )
print(a)
print(type(a))

44
<class 'int'>

In [ ]:
#hexa-decimal  to integer conversion
a = int("5A6" ,16 )
print(a)
print(type(a))

1446
<class 'int'>

In [37]:
# find the sum of all odd number up to given n number
n = int(input("Enter the value of n: "))
sum = 0
for i in range(1 , n+1, 2):
    sum = sum + i
print("The sum of all odd number up to", n , "is", sum)

The sum of all odd number up to 10 is 25

In [39]:
# BMI Calculator
height = float(input("Enter your height in meters: "))
weight = float(input("Enter your weight in kilograms: "))
bmi = weight/(height**2)
print("Your BMI is: ", bmi)
if bmi < 18.5:
    print("You are underweight.")
elif 18.5 <= bmi < 24.9:
    print("You are normal weight.")
elif 25 <= bmi < 29.9:
    print("You are overweight.")
else:
    print("You are obese.")

Your BMI is:  22.490861308253226
You are normal weight.

In [ ]:
# Valid Triangle Check
a = float(input("Enter length of side a: "))
b = float(input("Enter length of side b: "))
c = float(input("Enter length of side c: "))
if a + b > c and a + c > b and b + c > a:
    print("The lengths can form a valid triangle.")
else:
    print("The lengths cannot form a valid triangle.")

In [ ]:
# Write a Python program that calculates and prints the ticket price for a theme park based on a person's age and height.

In [40]:
list = ["apple", "banana", "pear", "guava" ,"orange"]
for x in list:
    print(x)
    if x == "pear":
        break

apple
banana
pear

In [43]:
list = ["apple", "banana", "pear", "guava" ,"orange"]
for x in list:
    if x == "banana":
        continue
    print(x)

apple
pear
guava
orange

In [44]:
for i in "anurag":
    print(i)

a
n
u
r
a
g

In [47]:
for i in range(6):
    if i==3 : break
    print(i)
else:
    print("Finally finished")

0
1
2

In [48]:
# Nested loop
list1 = ["apple", "banana", "pear", "guava" ,"orange"]
list2 = ["car", "bike", "mobile", "laptop" ,"pendrive"]

for x in list:
    for y in list2:
        print(x,y)

apple car
apple bike
apple mobile
apple laptop
apple pendrive
banana car
banana bike
banana mobile
banana laptop
banana pendrive
pear car
pear bike
pear mobile
pear laptop
pear pendrive
guava car
guava bike
guava mobile
guava laptop
guava pendrive
orange car
orange bike
orange mobile
orange laptop
orange pendrive

In [1]:
list1 = ["apple", "banana", "pear", "guava" ,"orange"]
list2 = ["car", "bike", "mobile", "laptop" ,"pendrive"]

list1.extend(list2)
print(list1)

list1.remove("pear")
print(list1)

list1.pop(1)
print(list1)

list1.sort()       #aplhabetical order
print(list1)

list1.sort(reverse=True)                    #reverse alphabetical order
print(list1)

['apple', 'banana', 'pear', 'guava', 'orange', 'car', 'bike', 'mobile', 'laptop', 'pendrive']
['apple', 'banana', 'guava', 'orange', 'car', 'bike', 'mobile', 'laptop', 'pendrive']
['apple', 'guava', 'orange', 'car', 'bike', 'mobile', 'laptop', 'pendrive']
['apple', 'bike', 'car', 'guava', 'laptop', 'mobile', 'orange', 'pendrive']
['pendrive', 'orange', 'mobile', 'laptop', 'guava', 'car', 'bike', 'apple']